.movie-details{
    background: #111;
    color: white;
}

.movie-banner {
    padding: 20px;
    height:450px;
    object-fit: contain;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}

.movie-content{
    display:flex;
    padding: 20px;
    margin-top: 40px;
}


.movie-poster{
    overflow: hidden;
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin-right: 20px;
}

.movie-poster img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.movie-info span{
    margin-right: 5px;
}

.overview {
    padding: 10px 0 10px 0;
}


.banner_button {
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    background-color: rgba(51, 51, 51, 0.5);
    padding-bottom: 0.5rem;
  }
  
  .banner_button:hover {
    color: #000;
    background-color: #e6e6e6;
    transition: all 0.2s;
  }
